.app-porcentagem-nota-detalhes {
  width: 50px;
  height: 48px;
  background-color: #081c22;
  color: #f3f3f3;
  .app-valor-porcentagem {
    font-size: 20px;
    &::after {
      content: "%";
      font-size: 9px;
    }
  }
}
#scroll-customizado {
  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
  }
  &::-webkit-scrollbar-track {
    background-color: #dddddd;
    border-radius: 5px;
  }
}
.app-imagem-fundo {
  background-color: rgba(0, 0, 0, 0.212);
  background-repeat: no-repeat;
  background-size: cover;
}

.app-overlay-imagem {
  background-image: linear-gradient(
    to right,
    rgb(61, 61, 61) calc((50vw - 170px) - 340px),
    rgba(44, 44, 44, 0.84) 50%,
    rgba(18, 18, 18, 0.84) 100%
  );
}
